.app-container {
  text-align: center;
  display: flex;
  justify-content: center;
  background: gainsboro;
  height: 100vh;

  .app {
    min-width: 325px;
    max-width: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    .header {
      font-weight: 200;
      font-size: 22px;
      margin-bottom: 15px;
      margin-top: 30px;
      font-style: italic;
    }

    .translator {
      display: flex;
      flex-direction: column;
      
      .translator-textField {
        width: 100%;

        textarea {
          width: -webkit-fill-available;
          min-height: 100px;
          min-width: 100px;
          background: transparent;
          font-size: 13px;
          font-family: 'Roboto Mono', monospace;
        }

      }

      .translator-directionButton {
        width: 100%;
        margin-top: 10px;
        display: flex;

        justify-content: center;

        button { 
          border-radius: 100%;
          width: 60px;
          height: 40px;
          padding-top: 4px;
          border: 1px solid black; 
          color: black;
          background: transparent;
          font-weight: bold;
        }
      }

      .translator-translatedField {
        width: 100%;
        min-height: 100px;
        min-width: 100px;
        background: lightgray;
        margin-top: 15px;
        max-height: 275px;
        height: 150px;
        overflow-y: auto;

        p {
          max-height: 275px;
          font-size: 14px;
          word-break: break-word;
        }
      }

      .translator-copyButton {
        margin-top: 3px;

        button {
          width: 100%;
          background: #FDFD96;
          color: gainsboro;
          font-weight: bold;
          padding: 25px;
        }

        button:hover:active {
          background: #54C2CC;
        }
      }
    }

    button {
      display: block;
      padding: 0;
      border: 0;
      -moz-user-select: none;
      -ms-user-select: none; 
      -o-user-select: none; 
      -webkit-user-select: none;
      cursor: pointer;
    }
    
    button:active, button:focus {
      outline: none;
    }
    
    button::-moz-focus-inner {
      border: 0;
    }
    
    textarea {
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: 2px solid dimgray;
      resize: none;
    }
  
  }

  .app_loading {
    cursor: progress;

    .translator {
      .translator-copyButton {
        button {
          background: red;
          cursor: progress !important;
        }
      }
    }
  }
}

